<div class="ui stacked segment">
    <h4>Add another image</h4>
    <form action="/updatepoi/{{poi._id}}/addimage" method="POST" enctype="multipart/form-data">
        <div>
            <label for="file-upload" class="ui blue button">
                <i class="image icon"></i>
                Upload Image
            </label>
            <input id="file-upload" type="file" name="image" style="display:none">
        </div>
        <br>
        <button class="ui blue submit button">Submit</button>
    </form>
</div>