<div class="ui three stackable cards">
    {{#each imageURLs}}
        <div class="card">
            <a class="image" href="{{this}}">
                <img src="{{this}}" class="hoverZoomLink">
            </a>
        </div>
    {{/each}}
</div>