<div class="ui three stackable cards">
    {{#each imageURLs}}
        <div class="card">
            <div class="image">
                <img class="hoverZoomLink" src="{{this}}">
            </div>
        </div>
    {{/each}}
</div>