<nav class="ui inverted menu">
    <header class="header item"><a href="/"> Points of Interest </a></header>
    <div class="right menu">
        <a id="home"   class= "item" href="/home"> Add POI</a>
        <a id="report" class= "item" href="/report"> Report</a>
        <a id="settings" class= "item" href="/settings"> Settings</a>
        <a id="logout" class= "item" href="/logout"> Logout</a>
    </div>
</nav>

<script>
    $("#{{_id}}").addClass("active item");
</script>