{{> mainmenu _id="home" }}

<section class="ui raised segment">

    {{> addpoi }}

    <div class="ui  divider"></div>

    <div class="ui teal progress" data-percent="${progress}" id="mainprogress">
        <div class="bar"></div>
    </div>

</section>