{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column"><img src="images/map-pin-shallow.jpg" class="ui large image" /></aside>
        <article class="ten wide column">
            <header class="ui  header">Check these places out!</header>
            <p>...and please don't litter.</p>
        </article>
    </div>
</section>
