{{> mainmenu _id="report"}}
<section class="ui raised segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/globe.jpg" class="ui large image">
        </aside>
        {{> poilist }}
    </div>
</section>