<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.3/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.3/dist/semantic.min.js"></script>
        <!--<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>-->
    </head>
    <body>
        <section class="ui container">
            {{{content}}}
        </section>
        <script>
            $(document).ready(function () {
                $('.ui.dropdown').dropdown({ on: 'hover' });
            });
            $('.message .close').on('click', function () {
                $(this).closest('.message').transition('fade');
            });
            $('.menu .item').tab();
            $('#file-upload').change(function() {
                var i = $(this).prev('label').clone();
                var file = $('#file-upload')[0].files[0].name;
                $(this).prev('label').text(file);
            });
        </script>
    </body>
</html>